<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <!--Add the viewport meta tag to Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <!--Indicate the useref task. Add two special meaning comments for useref -->
    <!-- build: css(app) css/vendor.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/pnotify.custom.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
</head>
<body>
  <% include _navbar %>
